# GitHub Details
GITHUB_USER=jagjeet-singh-23

# Infrastructure Passwords
POSTGRES_PASSWORD=your_secure_postgres_password
RABBITMQ_USER=admin
RABBITMQ_PASS=your_secure_rabbitmq_password
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_secure_minio_password
GRAFANA_USER=admin
GRAFANA_PASS=your_secure_grafana_password

# Log levels
LOG_LEVEL=info
