apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-prometheus
  labels:
    app: {{ .Release.Name }}
    component: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      component: prometheus
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        component: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          ports:
            - containerPort: 9090
              name: http
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-prometheus
spec:
  ports:
    - port: 9090
      name: http
  selector:
    app: {{ .Release.Name }}
    component: prometheus
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'mini-lambda'
        static_configs:
          - targets: ['{{ .Release.Name }}:8080']
